
/*==LAYOUT DA PÁGINA==*/
html { height: 100% }
body { margin: 0px; background: #ffffff; height: 100% }
#principal { border-left: 0px solid #000; border-right: 0px solid #000; border-style: none; width: 1043px; text-align: auto; margin-left: auto; margin-right: auto; background: #fff; height: auto;}
/*==LAYOUT DA PÁGINA==*/

/*=== MENU ===*/
#nav { width: 1042px; height: 36px; background: #000000; float: left; margin: 0px}
#nav ul { margin: 0px; padding: 0px; list-style: none; width: 100%; float; left; }
#nav ul li { float: left; font: 17px times	; border: 1px solid #fff;}
#nav ul li a { color: #fff; text-decoration: none; padding: 10px 31.9px; display: block; }
#nav ul li:hover { background: #008000; }
/*===MENU===*/

/*===RODAPÉ===*/

.rodape {font-size: 17px ; background: #999999; width:100%; margin-top: 29px; text-align: center}	

#home, #decomposicao, #lixos_reciclaveis, #sustentabilidade, #decomposição, #processo, #contato { background: #008000; }

/*===CSS DA PÁGINA DECOMPOSIÇÃO===*/

p {margin-left: 15px; font-family: times; font-size: 18px; text-align: justify;}

.poluicao { width: 600px; height: 250px; margin-left: 10px;}

.imagem2 { width: 600px; height: 300px; margin-left: 217px; }

table { border-collapse: collapse; font-family: times; }

th, td, th { border: 2px solid #000000; text-align: center; padding: 20px;} 

img { width: 1042px; height: 200px; }

/*===CSS DA PÁGINA DECOMPOSIÇÃO===*/

/*=== CSS DA PÁGINA PROCESSO===*/

h2 { display: table-cell, margin-top: -25px; margin-left: 20px; font-weight:  bold;}

.processo{ width: 300px; height: 300px; margin-left: 15px; float: left; }

p { font-family: times; margin-left: 30px; margin-right: 15px; font-size: 17px; text-align: justify;}

.introdução {font-size: 17px; margin-top: 30px}

.metais {font-size: 17px; }

.papel { font-size: 17px; }

.plástico { font-size: 17px; }

.vidro { font-size: 17px; }

img { width: 1042px; height: 200px; }

/*===CSS DA PÁGINA PROCESSO===*/

/*===CSS DA PÁGINA LIXOS RECICLÁVEIS===*/

p { font-size: 17px; font-family: times; margin-left: 15px;}

.Lixos { width: 450px; height: 367px; float: left; margin-left: 15px}


.texto { display: table-cell; margin-top: -25px; margin-left: 20px }

h2 { display: table-cell, margin-top: -25px; margin-left: 20px;}

#tabela { text-align: center; display: table-cell; margin-top: -25px;}

table { border-collapse: collapse; font-family: times; font-size: 17px }

th, td, th { border: 2px solid #000000; text-align: center; padding: 10px;} 


#COLETA { text-align: left } 

.tambores { width:600px; height: 300px; margin-left: 100px}

img { width: 1364px, height: 500px; }


/*===CSS DA PÁGINA LIXOS RECICLÁVEIS===*/

/*===CSS DA PÁGINA SUSTENTABILIDADE===*/

p { margin-left: 15px; font-family: times; font-size: 17px; text-indent:40px}

.imagem1 { width: 250px; height: 215px; float: left; margin-right: auto; margin-left: 20px; }

.lista-nao-ordenada ul li { margin-left: 20px; font-family: times; font-size: 17px; }

.beneficios { margin-left: 20px; }

.lista-ordenada ol li { margin-top: 10px; font-size: 17px; font-family: times; }

.sustentabilidade { width: 400px; height: 350px; margin-left: 152px; }

/*===CSS DA PÁGINA SUSTENTABILIDADE===*/

/*===CSS DA PÁGINA CONTATO===*/

textarea { margin-left:15px }

input { margin-left: 15px; font-size: 17px; font-family: times; }

h3 { margin-left: 15px; font-family: times;}

.contat{ margin-left: 15px; }
	
/*===CSS DA PÁGINA CONTATO===*/
	
/*===CSS DA PÁGINA HOME===*/	
	
.sustentabilidade0 { margin-left: 15px; width: 400px; height: 400px;}

.sustentabilidade2 { width: 600px; height: 300px; margin-top: -90px;}	

p {text-indent: 40px; margin-left: 15px}

.top {width: 70px; height: 70px	}

 .vcsabia {width: 100% ; height: 150px;}

 .recic {width: 450px; height: 350px}

 .lixorec {width: 588px; height: 350px}

/*===CSS DA PÁGINA HOME===*/	


