w@charset "utf-8";
/* CSS Document */

body {background: #696969;}
	
	

/*=== MENU ===*/
#nav { width: 1364px; height: 38px; background: #000000; float: left; margin: 0px}
#nav ul { margin: 0px; padding: 0px; list-style: none; width: 100%; float; left; }
#nav ul li { float: left; font: 16px arial; border: 1px solid #fff;}
#nav ul li a { color: #fff; text-decoration: none; padding: 13px 57.5.2px; display: block; }
#nav ul li:hover { background: #008000; }









     



 

	
	
	
	
	  

